.modalContainer {
    border: 1px solid hotpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
}

.modalOverlay {
    background-color: black;
    border: 1px solid seagreen;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}

.modalContent {
    width: 60vw;
    height: 80vh;
    position: absolute;
    overflow: scroll;
    background-color: white;
    padding: 40px;
    color: black;
    border-radius: 10px;
    z-index: 1000;
}