.sideBar {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 15vw;
    height: auto;
    /* position: fixed; */
    margin: 0;
    padding-inline-start: 0px;
    background-color: rgb(238, 238, 238);
    box-shadow: 2px 2px 5px 0 #b6b6b65a, 0 2px 5px 0 rgba(155, 155, 155, 0.1);
}

.navMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px auto;
    width: 40%;
    /* border: 1px solid red; */
    padding-inline-start: 0;
}

.navMenu li {
    display: inline-block;
    margin: 3px 10px;
    list-style-type: none;
    font-weight: bold;
    /* border: 1px solid blue; */
}

a {
    text-decoration: none;
}

.sideImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    animation:spin 80s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media screen and (max-width: 1030px) {
    .sideImg {
        width: 50px;
        height: 50px;
        margin-top: 0;
    }

    .sideBar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        position: sticky;
    }

    .navMenu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px;
        padding-inline-start: 0;
    }
}