.projectPcs {
    /* background-color: rgb(237, 237, 237); */
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 70vw;
    height: 250px;
    background-size: auto 100%;
    background-position: center;
    border: 1px solid silver;
    /* margin: 0 auto; */
}

@media screen and (min-width: 1300px) {
    .projectPcs {
        width: 30vw;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1300px) {
    .projectPcs {
        width: 35vw;
    }
}

@media screen and (min-width: 620px) and (max-width: 1030px) {
    .projectPcs {
        width: 400px;
    }
}

.descriptionBack {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionBack p {
    color: white;
}

.projectPcs:hover {
    opacity: 0.9;
}

.descriptionBack:hover {
    background-color: rgb(62, 62, 62);
    opacity: 0.9;
    transition: opacity 0.5s;
}

.descriptionBack::after {
    position: relative;
    width: 0%;
    height: 0%;
    border: 2px solid rgb(228, 228, 228);
    top: -16px;
    /* bottom: 10px; */
    /* top: -5px;
    bottom: -5px; */
    content: "";
    transition: width, height 3s ease;
}

.descriptionBack:hover::after {
    width: 90%;
    height: 95%;
    animation: drawBorder 0.6s;
}

.projectTitle, .projectPeriod {
    position: relative;
    bottom: -50%;
}

@keyframes drawBorder {
    0% {
        border-top: 2px solid rgb(228, 228, 228);
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    25% {
        /* border-top: 2px solid rgb(228, 228, 228); */
        border-right: 2px solid rgb(228, 228, 228);
        border-bottom: none;
        border-left: none;
    }
    50% {
        border-bottom: 2px solid rgb(228, 228, 228);
    }
    100% {
        border-left: 2px solid rgb(228, 228, 228);
    }
}
