.projectPcs {
    /* background-color: rgb(237, 237, 237); */
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 70vw;
    height: 250px;
    background-size: auto 100%;
    background-position: center;
    border: 1px solid silver;
    /* margin: 0 auto; */
}

@media screen and (min-width: 1300px) {
    .projectPcs {
        width: 30vw;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1300px) {
    .projectPcs {
        width: 35vw;
    }
}

@media screen and (min-width: 620px) and (max-width: 1030px) {
    .projectPcs {
        width: 400px;
    }
}
